.container {
    max-width: 750px;
    margin: 2rem auto;
    padding: 2rem;
    background: transparent;
    border-radius: 16px;
    font-family: 'Segoe UI', sans-serif;
    margin-bottom: 0.5rem;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 20%;
}

.loading-logo {
    width: 500px;
    height: 500px;
}
